body{
    background-color: #fef5ff;
}
.jumbotron {
    background-color: #e3c4ff;
}
.btn{
    background-color: #9740c9;
    border:none;
}

h1{
    text-align: center;
}

.menu{
    text-align: center;
    padding: 5%;
}
.jumbotron .menu div{
    display: inline-block;
    text-align: center;
    margin-top: 10%;
    padding: 3%;
}